@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitcount+Single+Ink:wght@100..900&family=Pacifico&family=Quicksand:wght@300..700&display=swap');


:root{
    --cor1: #348888;
    --cor2: #22BABB;
    --cor2: #9EF8EE;
    --cor3: #FA7F08;
    --cor4: #F24405;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Dogbangy';
    --fonte-google:"Bebas Neue", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor1);
}

header{
    background-color: white;
    padding-bottom: 10px;
    padding-top: 15px;
    min-height: 150px;
    background-image: linear-gradient(to right, var(--cor1), var(--cor2) );
    
    
    
}

header > h1{
    text-align: center;
    font-size: 4em;
    font-family: "Bebas Neue", sans-serif;

}

header > p{
    text-align: center;
    font-family: var(--fonte-google);
    font-size: 1.5em;
}
nav{
    background-color: white;
    padding-bottom: 10px;
    background-image: linear-gradient(to right, var(--cor1), var(--cor2));
    font-size: 1,5em;
    
}
nav  a{
     padding-left: 30px;
     text-decoration: none;
     padding: 20px;
     color: #b65d05;
     font-weight: normal;
     text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.788);
     font-family: var(--fonte-google);
     font-size: 1.5em;

}

nav a:hover{
    background-color: #f8fa78;
    padding: 10px;
    transition-duration: 1s;
    border-radius: 10px;
}

main{
    min-width: 300px;
    max-width: 1000px;
    background-color: rgb(255, 249, 249);
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   box-shadow: 0px 0px 10px black;
    
}

main img{
    width: 50%;
    display: block;
    margin: auto;
}

main h1{
    font-family: sans-serif;
    color: #348888;
}

main h2{
    font-family: sans-serif;
    color:#2b2727;
    background-image: linear-gradient(to right, var(--cor1), transparent );
    padding: 5px;
}

main h3{
    padding-top: 10px;
}

footer{
    background-color: var(--cor4);
    color: white;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

main p{
    text-align: justify;
    text-indent: 30px;
    margin: 15px 0px;
    line-height: 2em;
}